body {
    padding:0;
    margin:0;
    font-size:100%;
}

.page {
    max-width:60em;
    margin:0 auto;
}

nav ul {
    list-style:none;
}

nav li {
    text-align:center;
}

a {
    text-decoration:none;
}

footer {
    text-align:center;
}
