---
layout: default
title: 求知尝味
---
<div >
    {% for post in paginator.posts %}
    <div class="article-item">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.date | date_to_string }}</p>
        <hr>
        <p>{% if post.excerpt.size > 32 %}
            {{ post.excerpt }}
        {% else %}
            {{ post.content | strip_html | strip_newlines | truncate: 160 }}
        {% endif %}</p>
        <p><a href="{{ post.url }}">阅读全文 &raquo;</a></p> 
    </div>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//','/' }}">&larr; Newer</a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//','/' }}">Older &rarr;</a>
        {% endif %}
    {% endif %}
</div>
